---
title: jonaskay
---

<div class="sm:max-w-md mx-auto">
  <header class="header px-4 pt-6 sm:mt-8 sm:rounded sm:shadow shadow-inner relative">
    <div class="content">
      <%= image_tag "joonas-kykkanen.jpg", width: 192,
                                           class: "rounded-lg shadow-lg -mb-8" %>
    </div>
  </header>
  <main class="pt-8 px-4 bg-white leading-normal">
    <div class="content">
      <p class="my-4">Hi! I'm Joonas Kykkänen (jonaskay)—a software developer from Helsinki, Finland.</p>
      <p class="my-2">Here's some useful info about me:</p>
      <ul class="mb-8">
        <li class="my-2">I work at <a href="https://wunder.dog/">Wunderdog</a></li>
        <li class="my-2">I write weekly on <a href="https://www.flashover.blog/">my blog</a></li>
        <li class="my-2">I share code on <a href="https://github.com/jonaskay">GitHub</a></li>
      </ul>
    </div>
  </main>
</div>
